:root {
  /* Light : 100% = 100 , 50% = 500 , 10% = 900 */
  --clr-primary--400: hsl(158, 36%, 37%);
  --clr-primary--500: hsl(158, 36%, 30%);
  --clr-primary--200: hsl(30, 38%, 92%);
  --clr-neutral--900: hsl(212, 21%, 14%);
  --clr-neutral--500: hsl(228, 12%, 48%);
  --clr-neutral--100: hsl(0, 0%, 100%);

  --ff-accent: "Fraunces", serif;
  --ff-base: "Montserrat", sans-serif;

  --fw-regular: 500;
  --fw-bold: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: inline-block;
}

/*Typography*/

body {
  display: grid;
  place-content: center;
  height: 100%;
  margin: 1em;
  background-color: var(--clr-primary--200);
  font-family: var(--ff-base);
  font-size: 0.875rem;
  color: var(--clr-neutral--500);
  line-height: 1.5;
}

h1 {
  font-family: var(--ff-accent);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral--900);
  font-size: 2rem;
  line-height: 1;
}
.product-preview-card__category {
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}
.product-preview-card__current-price,
.product-preview-card__original-price {
  font-family: var(--ff-accent);
}

.product-preview-card__current-price {
  font-size: 2rem;
  color: var(--clr-primary--400);
}

/*Layout*/

.grid-layout {
  display: grid;
  gap: 1rem;
}

.flex-group {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/*utilities*/

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*General styles */

button {
  padding: 1em 2.5em;
  border-radius: 0.7rem;
  border: none;
  background-color: var(--clr-primary--400);
  color: var(--clr-neutral--100);
  cursor: pointer;
  font-weight: var(--fw-bold);
  font-size: 0.925rem;
  display: inline-flex; /* For cart button icon using ::before*/
  place-content: center;
  gap: 0.5rem;
}
.button:is(:hover, :focus) {
  background-color: var(--clr-primary--500);
}
.button[data-icon="shopping-cart"]::before {
  content: "";
  background-image: url("images/icon-cart.svg");
  width: 15px;
  height: 16px;
}

.product-preview-card {
  border-radius: 2.5rem;
  background-color: var(--clr-neutral--100);
  overflow: hidden;
  max-width: 750px;
}

@media (min-width: 600px) {
  .product-preview-card {
    grid-template-columns: 1fr 1fr;
  }
  .product-preview-card__content {
    align-content: space-evenly;
  }
}
.product-preview-card__content {
  padding: 0 1.5em 1.5em;
}
